In [1]:
# SQL ALchemy 
from sqlalchemy import create_engine

# Import PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

# Config Variables 
from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd
from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name

# Import Pandas 
import pandas as pd

In [2]:
# Create engine and pass mySQL connnection 

# CSV Files
# player_csv = "Resources_BS/playerdf.csv"
# player_df = pd.read_csv(player_csv)

# scorers_csv = "Resources_BS/top_10_scoreres.csv"
# scorers_df = pd.read_csv(scorers_csv)

current_scorers_historic_csv = "Resources_BS/top20_current_scorers_cleaner.csv"
current_scorers_historic_df = pd.read_csv(current_scorers_historic_csv)

# Cloud MySQl database connection on AWS
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")

In [3]:
# Create remote database engine connection 
conn = engine.connect()

In [4]:
# Dataframe to SQL
# player_df.to_sql(name='player_data', if_exists='append', con=conn, chunksize=500, index=False)

# scorers_df.to_sql(name='top56_GL_data', if_exists='append', con=conn, chunksize=500, index=False)

current_scorers_historic_df.to_sql(name='top20_active_GL_historic_data', if_exists='replace', con=conn, chunksize=500, index=False)

In [ ]:
remote_player_data = pd.read_sql("SELECT * FROM player_data", conn)
print(len(remote_player_data))
remote_player_data.head()

In [ ]:
remote_scorers_data = pd.read_sql("SELECT * FROM top56_GL_data", conn)
print(len(remote_top56_GL__data))
remote_top56_GL__data.head()

In [5]:
remote_top20_active_GL_historic_data = pd.read_sql("SELECT * FROM top20_active_GL_historic_data", conn)
print(len(remote_top20_active_GL_historic_data))
remote_top20_active_GL_historic_data.head()

20703

,id,firstname,lastname,pos,birthdate,daysalive,season,seasonid,gameid,assists,...,shg,shp,bs,pm,pts,team,opp,date,home,win
0,8466138,Joe,Thornton,C,1979-07-02,6673,19971998,1,1,0,...,0,0,0,0,0,Boston Bruins,Phoenix Coyotes,1997-10-08,0,1
1,8466138,Joe,Thornton,C,1979-07-02,6676,19971998,1,2,0,...,0,0,0,-1,0,Boston Bruins,San Jose Sharks,1997-10-11,0,0
2,8466138,Joe,Thornton,C,1979-07-02,6678,19971998,1,3,0,...,0,0,0,0,0,Boston Bruins,Anaheim Ducks,1997-10-13,0,1
3,8466138,Joe,Thornton,C,1979-07-02,6680,19971998,1,4,0,...,0,0,0,0,0,Boston Bruins,Los Angeles Kings,1997-10-15,0,1
4,8466138,Joe,Thornton,C,1979-07-02,6682,19971998,1,5,0,...,0,0,0,0,0,Boston Bruins,Vancouver Canucks,1997-10-17,0,1